.Products-p{

    padding-top: 30px;
    /* height: 700px; */
     font-family: 'Varela Round', sans-serif;
     /* align-items: center; */
     text-align: center;
     direction: rtl;
color: black;

/* align-items: center; */
     background-color: rgba(245, 245, 245, 0.856);
 
     
 }
 .print-category {
     width: 85%;
     justify-self: center;
     margin-right: 7.5%;
     display: grid;
     grid-template-columns:repeat(3,33%);
         grid-row-gap:0px;
         grid-column-gap:0px;



 }
 .print-category a{
     color: black;
     padding: auto;
     object-fit: cover;

 }
 
 .title{
     margin: 5px;
     font-size: 20px;
 }
 .Products .h2{
    direction: rtl;
    align-items: center;
    font-family: 'Varela Round', sans-serif;


}
.Products h4{
    direction: rtl;
    align-items: center;
    

}
#products-class{
    direction: rtl;

    margin-top: 35px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
  
    margin-right: 10%;
    /* align-items: center;
    text-align: center; */

}
.price-form{
    direction: rtl;
    justify-content: center;
    display: flex;

    text-align: right;
    /* align-items: center; */
    width: 100%;
}
.button{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 4px;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
    /* margin-left: 15px; */
    border-radius: 4px;
    margin-top: 10px;
    /* padding-left: 45px;
    padding-right: 45px; */
    width: 105%;
}
.button:hover {
    background-color: #4CAF50;
    color: white;
  }
  /* .Categories{
    display: flex;
    justify-content: center;
    flex-direction: column;
  } */
.Categories h4{
    direction: rtl;
    align-items: center;
    font-family: 'Varela Round', sans-serif;


}
.price{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 17px;
}
.textarea2 {

    font-size: 15px;
    text-align: center;
    align-items: center;
    padding-top: 7px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    resize: none;
    margin-bottom: 10px;
    
    margin-right: 5px;
    /* margin-left: 15px; */
  }

#products-class h4{
    margin-right: 7px; 
    padding-top: 5px;

    font-family: 'Varela Round', sans-serif;

}
.cube{
    margin-left: 10%;
    background-color: white;
    border-radius: 4px;

}
#orange{
   
    border: rgba(232, 178, 103, 0.757) 3px solid;

}
#red{
   
    border: rgba(234, 75, 75, 0.757) 3px solid;

}
#pink{
   
    border: rgba(199, 97, 173, 0.757) 3px solid;

}
#purple{
   
    border: rgba(155, 99, 188, 0.757) 3px solid;

}
#green{
   
    border:  rgba(140, 207, 95, 0.757) 3px solid;

}
#blue{
   
    border: rgba(94, 148, 210, 0.757) 3px solid;

}
#products-class img{
width: 200px;
border-radius: 4px;
}
#products-class p{
font-size: 14px;   
margin-right: 135px; 
padding-top: 5px;


  

    }
    .product-details{
        display: flex;
        justify-content: right;  
   
    }
    #orange-details{
   
        background-color: rgba(232, 178, 103, 0.757);
    
    }
    #red-details{
   
        background-color: rgba(234, 75, 75, 0.757);
    
    }
    #pink-details{
   
        background-color: rgba(199, 97, 173, 0.757);
    
    }
    #purple-details{
   
        background-color: rgba(155, 99, 188, 0.757);
    
    }
    #green-details{
   
        background-color: rgba(140, 207, 95, 0.757);
    
    }
    #blue-details{
   
        background-color: rgba(94, 148, 210, 0.757);
    
    }
.cubeC{
    background-color: transparent;
    width:auto;
    height: 250px;
    border: none;
    /* background-color: wheat; */
    position: relative;
    text-align: center;

}
.cube-item{
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    
}
.cube-caps img{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1;
}
.top-img{
    width: 80%;
    height: 80%;
    z-index: 10;
    position: absolute;
    bottom: 8px;
    left: 0;
    /* left: 0; */
    border: #F49B9B 10px solid;
border-left: none;
border-bottom: none;
    background-color: rgba(0, 0, 0, 0.208);
}
.top-img:hover{
    background-color: #F49B9B;
    opacity: 0.6;

}
.top-img-left{
    width: 80%;
    height: 80%;
    z-index: 10;
    position: absolute;
    bottom: 8px;
    right: 0;
    /* left: 0; */
   
    border: #BEE4A6 10px solid;
    border-right: none;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.208);
}
.top-img-left:hover{
    background-color: #BEE4A6;
    opacity: 0.6;

}
.top-img-center{
    width: 94%;
    height: 80%;
    z-index: 10;
    position: absolute;
    bottom: 8px;
    right: 3%;
    /* left: 0; */
    border: #F3D5AA 10px solid;
    border-bottom: none;
    border-right: none;
    border-left: none;
  
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.208);
}
.top-img-center:hover{
    background-color: #F3D5AA;
    opacity: 0.6;

}
.top-img-buttom{
    width: 80%;
    height: 80%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    /* left: 0; */
    border: #E0A7D1 10px solid;
    border-top: none;
    border-left: none;
    background-color: rgba(0, 0, 0, 0.208);
}
.top-img-buttom:hover{
    background-color: #E0A7D1;
    opacity: 0.6;

}
.top-img-left-buttom{
    width: 80%;
    height: 80%;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    /* left: 0; */
    border: #93AECC 10px solid;
    border-top: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.208);
}
.top-img-left-buttom:hover{
    background-color: #93AECC;
    opacity: 0.6;


}
.top-img-center-buttom{
    width: 94%;
    height: 80%;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 3%;
    /* left: 0; */
    border: #C7A8D9 10px solid;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgba(0, 0, 0, 0.208);
}
.top-img-center-buttom:hover{
    background-color: #C7A8D9;
    opacity: 0.6;

}

.top-img-middel{
    width: 80%;
    height: 96%;
    z-index: 10;
    position: absolute;
    top: 4px;
    left: 0;
    /* left: 0; */
    border:  transparent 10px solid;

    border-image:  linear-gradient(180deg, #F49B9B 50%, #E0A7D1  50%) 1 100%; 
    border-left: none;

    background-color: rgba(0, 0, 0, 0.208);
}
.top-img-middel:hover{
    /* background: rgb(190,228,166); */
    background: linear-gradient(180deg, #F49B9B 50%, #E0A7D1 50%);
    background-size: cover;
    background-repeat: no-repeat;

    /* background-color: linear-gradient(180deg, #F49B9B 50%, #E0A7D1  60%);  */
    opacity: 0.6;

}
.top-img-left-middel{
    width: 80%;
    height: 96%;
    z-index: 10;
    position: absolute;
    top: 4px;
    right: 0;
    /* left: 0; */
    border:  transparent 10px solid;
    border-image-slice: 1;
    border-image-width: 100%;

    border-image:  linear-gradient(180deg, rgba(190,228,166,1) 50%, rgba(147,174,204,1)  50%) 1 100%; 
    border-right: none;
  
    background-color: rgba(0, 0, 0, 0.208);
}
.top-img-left-middel:hover{
    /* background: rgb(190,228,166); */
    background: linear-gradient(180deg, rgba(190,228,166,1) 50%, rgba(147,174,204,1) 50%);
    background-size: cover;
    background-repeat: no-repeat;
        opacity: 0.6;


}
.top-img-center-middel{
    width: 94%;
    height: 96%;
    z-index: 10;
    position: absolute;
    top: 4px;
    right: 3%;
    /* left: 0; */

    background-color: rgba(0, 0, 0, 0.208);
}
.top-img-center-middel:hover{
    background: linear-gradient(180deg, #F3D5AA 50%, #C7A8D9 50%);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #C7A8D9; */
    opacity: 0.6;

}

.text-all{
    font-weight: bold;
    font-size: 28px;
    color: black;
    z-index: 11;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}